.chatBox {
    background: lightgray;
    margin-top: 1rem;
    height: 58vh;
    width: 100%;
    border-radius: 1rem;
    overflow-y: scroll; /* so messages arent showing outside of the box */
    overflow-x: hidden; /*not neccessary but just to be sure*/
    padding: 20px;
    box-shadow: 0 0.5rem 2rem #16d2aa;
    /* 1px 2px 4px 6px; */

    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  */
    border-radius: 5px;
    position: relative;
    z-index: 1;
    /* background: inherit; */
}

.chatBox::before {
    content: "";
    position: absolute;
    /* background: inherit; */
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(133, 128, 128, 0.5);
    filter: blur(10px);
    border-radius: 1rem;
}

.singleUserMessage {
    display: flex;
    /* grid-template-columns: 1fr; */
    width: 50%; /* auto width can be done so that the users text message adjusts depending on how long or short it is but we wouldnt want that as it would bleed into the entire chat and defeat the purpose of a float right/left*/
    float: right !important;
    flex-direction: column-reverse;
    margin-top: 2%;
    background: #16d2aa;
    border-radius: 1rem;
}

.singleUserMessage-two {
    display: grid;
    /* grid-template-columns: 1fr; */ /*I usually use grid bc its easier to place things precisely but this is a simple flex grow left + right chat so we can use flex */
    width: 50%;
    float: left !important;
    flex-direction: column-reverse; /* this is so the name displays below the message */
    margin-top: 2%;
    background: #16d2aa;
    border-radius: 1rem;
}

/* If I had more time, I'd split the chat box into two divs and then display one users chats on one side versus the other side
rather than giving the single message divs 50% width because this means no matter how short a users messages are, it'll still
take up 50% of the chat box's width and we dont want that but this was a way for me to make sure the name and message would be 
aligned column style */

/* would also make a slightly smaller div in the chatbox and then set the messages in there so that
its an even outerlayer/space all around + glass effect*/

.formDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.5%;
    width: 100%;
    margin-top: -1rem;
}

.informationDiv {
    width: 60vw;
    height: 10rem;
}

.inputInfoOne {
    width: 100%;
}

.inputInfoTwo {
    width: 100%;
}

.btnDivStyle {
    /* width: 20%; */
    /* height: 100%; */
    margin-top: 175%; /*messy hack due to time constraint; not best practice especially when responsiveness comes into play*/
    margin-left: 20%;
}

.btnStyle {
   height: 30px;
    /* background: yellow; */
}

.v-chip.v-chip--outlined.v-chip.v-chip {
    background-color: #16d2aa !important;
}

.v-chip.v-chip--outlined.v-chip.v-chip {
    background-color: #16d2aa !important;
}

* {@media only screen and(max-width: 700px) {


}}