<template>

<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage, currentName)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
      >

      <div class="chatBox">


        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
        >

          <v-flex xs12>

          <div class="singleUserMessage">
          <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label>
                User: {{message.name}}
            </v-chip>

            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label>
                Message: {{message.text}}
            </v-chip>
          </div>
            

            <div class="singleUserMessage-two">
            <v-chip
              v-if="message.uuid !== uuid"
              text-color="white"
              color="primary"
              class="float-left"
              label>
                User: {{message.name}}
            </v-chip>

            <v-chip
              v-if="message.uuid !== uuid"
              text-color="white"
              color="primary"
              class="float-left"
              label>
                Message: {{message.text}}
            </v-chip>
            </div>
          </v-flex>
        </v-layout>
        </div>

        <v-divider vertical> </v-divider>

          <div class="formDiv">
            <div class="informationDiv">
            <v-text-field
            label="Enter Name"
            v-model="currentName"
            class="mt-12 inputInfoOne"
            >
            </v-text-field>

            <v-text-field
              outlined
              name="input-7-4"
              class="inputInfoTwo"
              label="What's on your mind?"
              v-model="currentMessage"
            >
            </v-text-field>
            </div>
            
            <div class="btnDivStyle">
            <v-btn
            class="btnStyle"
            @click="sendMessage(currentMessage, currentName)"
            @keydown.enter.prevent
            @keyup.enter="sendMessage(currentMessage, currentName)"
            >
            Send
            </v-btn>
            
            </div>
          
          </div>

      </v-flex>
    </v-container>
  </v-layout>

</template>

<style>
  @import '../styles/chat.css';
</style>


<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    currentName: "",
    messages: [],
    totalChatHeight: 0,
    connection: [],
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()
    console.log(this.uuid)
    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      console.log(data) 
      this.messages.push(data)
      console.log(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

    this.$socket.onclose = function() {
      console.log('successfully closed connection')
    }

  },

  methods: {
    sendMessage: function(text, name) {
      const message = JSON.stringify({
        text,
        name,
        uuid: this.uuid
      })
      this.$socket.send(message)
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
